{% extends "_layout.html" %}
{% block title %}About the conference...{% endblock %}
{% block content %}

<div class="container">

    <h4 id="tutorial">Tutorial</h4>
<br/>
Led by Van Henson and Geoff Sanders (LLNL) <br/>
Saturday, March 21st: starting at 1pm (3-4 hours total) <br/> <br/>

Aimed at graduate-level research assistants in numerical analysis. 
Tutorial topics include
    <ul>
<li> solvers and preconditioning for graph problems </li>
<li> matrix functions for graph analysis </li>
<li> spectral partitioning </li>
<li> eigenvector properties </li>
<li> impact of skewed degree distributions </li>
<li> ranking algorithms </li>
<li> Markov chains </li>
    </ul>

<br/> <br/>

    <h4 id="topics">Highlighted Conference Topics</h4>

    <ul>
<li>Asynchronous iterative solvers</li>
<li>Eigenvalue and singular value methods and applications</li>
<li>Inverse problems, regularization</li>
<li>Iterative Applications: earth systems</li>
<li>Iterative Applications: energy</li>
<li>Iterative Applications: fluids</li>
<li>Iterative Applications: electromagnetics</li>
<li>Iterative Applications: imaging</li>
<li>Solvers at extreme scale & on high concurrency node architectures</li>
<li>Iterative solvers and machine learning </li>
<li>Iterative solvers in data science and engineering</li>
<li>Optimization of complex problems & Systems</li>
<li>Multilevel solvers</li>
<li>Multigrid methods for partially structured grids</li>
<li>Nonlinear solvers</li>
<li>Randomized iterative solvers and preconditioners</li>
<li>Rank-structured solvers and preconditioners</li>
<li>Robust & scalable iterative solution of coupled multi-physics problems</li>
<li>Solvers for indefinite systems</li>
<li>Surrogate modeling & model reduction</li>
<li>Uncertainty quantification, PDEs with random data</li>

    </ul>

    <h4>Conference Format</h4>

    <p>
    The conference typically features morning and afternoon sessions consisting
    of individual talks of approximately 25 minutes each, including time for
    questions.  In addition, special topics workshops and tutorials are often
    held during afternoon mid-day breaks.  More details can be found below and on
    the <a href="{{info.programlink}}">program</a> page.
    </p>

    <p>
    A <a href="student.html#details">student paper competition</a> is open to
    current and recent students attending the conference.  In addition, a
    <a href="about.html#specialissue">special section</a> devoted to the themes of
    the conference is open to all.
    </p>

<!--
    <p>
    The following tutorials will be offered this year on Saturday:
    <ul class=>
      <li>Multigrid - the Fundamentals</li>
      <li>Algebraic Multigrid and Advanced Topics</li>
      <li>Parallel Multigrid</li>
    </ul>
    </p>
-->

    <p>
    There will also be a reception on Saturday evening and a banquet on Wednesday evening.
    </p>

    <h4 id="specialissue">Special section devoted to iterative methods</h4>
    <p>
Special section editor-in-chief: Irad Yavneh <br/>
Submission deadline: May 31, 2020 <br/> <br/>
As in previous even-numbered years, a special section in a leading journal is planned.  This single section will be dedicated to recent progress in iterative methods.  Submissions are encouraged in all aspects of iterative methods,  
including this year's 
<a href="about.html#topics">highlighted topics</a>. 
Attendees and participants of the conference as well as the general 
community are invited to submit papers.
The papers should meet the formatting and editorial
requirements of SIAM Journal on Scientific Computing.
<p>

<b> Special section page limit policy:</b> SIAM Journal on Scientific Computing has a page limit policy of approximately 20 journal pages. This limit can be exceeded if the referees and editor are convinced that a longer paper is required; however, due to total size restrictions, papers longer than 25 pages will not be considered for publication in the special section.
<p>
Submissions for the special section will be accepted from 
<b>April 1- May 31, 2020</b>. 
Papers will be subject to review by a guest Editorial Board 
comprised of the current 
<a href="people.html">
Scientific Committee<a>.
	<!-- plus Robert Scheichl (University of Bath). -->
Between these dates, all interested can submit a manuscript and 
             cover letter in 
             PDF format via the online submission site at
             <a href="http://sisc.siam.org"> http://sisc.siam.org</a>. Note the block labeled Section (just under the keywords block on your submission screen) and select "Special Section" from the dropdown box. Directly below this is a block labeled Special Section, where you will want to select "Copper Mountain Special Section 2020" from the dropdown.<p> For any questions, contact Mitch Chernoff, Publications Manager, SIAM, at <a href="mailto:chernoff@siam.org">chernoff@siam.org</a>, 
or Irad Yavneh, Guest Editor-in-Charge for the Special Section, at <a href="mailto:irad@cs.technion.ac.il">irad@cs.technion.ac.il</a>.<p><center><a href="http://sisc.siam.org"> <img style="border:2px" alt="SIAM logo" src="images/SISC.jpg" height=230></a></center>

<br/> <br/> <br/> <br/> <br/>
</p>

<!--
     As in previous odd-numbered years, a Special Section of Numerical Linear
     Algebra with Applications is planned. This single issue will be dedicated
     to recent progress in multigrid methods. Submissions are encouraged in all
     aspects of multigrid methods, including this year's highlighted <a href="about.html#topics">topics</a>.
    </p>

    <p>
      Attendees and participants of the conference as well as the general community
      are invited to submit papers. The papers should meet the formatting and
      editorial requirements of Numerical Linear Algebra with Applications.
    </p>

    <p>
    Submissions for the special issue will be accepted from {{
    deadlines.specialissueopen.date }} until <b>{{ deadlines.specialissue.date
    }}</b>.  Papers will be subject to review by a guest Editorial Board.
    </p>

    <p>
      Submissions should be made using the ordinary submission process
      <a href="http://onlinelibrary.wiley.com/journal/10.1002/(ISSN)1099-1506">Numerical Linear Algebra with Applications</a>
      with a statement in the cover letter requesting that the paper be considered for the
      Special Issue on Multigrid Methods.
    </p>
-->

    <h4 id="location">Getting Here</h4>

    <p>
     The conference is held at <a href="http://www.coppercolorado.com">Copper
       Mountain</a>, Colorado, located 75 miles west of Denver just off
     interstate I-70 at exit 195.
    </p>

    <p>
    Denver International Airport (DIA) is the closest major airport.
    From there, most attendees either arrive by shuttle or by car rental.
    </p>

    <p>
    Summit Express provides shuttle service from DIA to Copper Mountain.
    The conference group code is Iterative(<a
    href="https://www.summitexpress.com/iterative">direct
    link</a>). The code provides 10% off the shared shuttle service.
    The full rates are given on the <a
    href="http://www.summitexpress.com/denver-airport-ski-shuttle-rates/winter-denver-airport-shuttle-rates/">Summit Express</a> website.  </p>
     Colorado Mt. Express (CME) also provides shuttle service between DIA and Copper Mountain. Here, the code is SCIENTIFIC18. Either call 1-970-754-7433 or click 
<a href=http://coloradomountainexpress.hudsonltd.net/res?USERIDENTRY=SCIENTIFIC18&LOGON=GO/"> Colorado Mt. Express</a>. 

 

    <div class="maps">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d608266.0883500748!2d-106.0073125920699!3d39.63946148929527!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876a6000b7523357%3A0x2fc88aaeeb274fdd!2sCopper+Mountain+Resort!5e0!3m2!1sen!2sus!4v1474934985568" width="800" height="300" style="border:0" allowfullscreen></iframe>
    </div>

</div>
{% block extrajs %}
<script>
$(".maps").click(function() {
	$(".maps iframe").css("pointer-events", "auto");
});
$(".maps").mouseleave(function() {
	$(".maps iframe").css("pointer-events", "none");
});
</script>
{% endblock %}
{% endblock %}
