{% extends "_layout.html" %}
{% block title %}{% endblock %}
{% block content %}

<div class='embed-container'>
  <iframe src='{{info.programlink}}' style='border:0;'></iframe>
</div>

  <div class="container">
      {% set coffeecolor = '#E9E5DC' %}
      {% set banquetcolor = '#FDDECA' %}

        <p>
      This program is subject to modifications.   We will try to limit most schedule changes to within the given day, however participants and speakers should monitor this page throughout the conference.
        </p>

        <p>
        Speakers should plan their talks to be at most 20 minutes, with a 5 minute question and answer period.   Program Chairs will adhere strictly to this schedule.  Computer projectors will be available for all day and evening sessions.
        </p>

        <p>All conference activities will be held in the Copper Conference Center.</p>

        <h1> Saturday </h1>
        <table class="table program-table">
          <tr>
            <td></td><td colspan=2 align="center"><b>Tutorials</b></td>
          </tr>
          <tr><td> 8:30am - 11:30am</td><td colspan=2><b>Irad Yavneh</b><br/><i>Multigrid: The Fundamentals</i></td></tr>
          <tr><td> 1:30pm -  4:00pm</td><td colspan=2><b>Van Henson</b><br/><i>Algebraic Multigrid and Advanced Topics</i></td></tr>
          <tr><td> 4:30pm -  6:00pm</td><td colspan=2><b>Rob Falgout</b><br/><i>Parallel Multigrid</i></td></tr>
          <tr><td> 7:00pm -  9:00pm</td><td colspan=2 style="background-color: {{banquetcolor}};"><b>Registration and Reception, Cash Bar and Light Buffet</b></td></tr>
          <tr>
            <td style="width:10%"></td>
            <td style="width:45%"></td>
            <td style="width:45%"></td>
          </tr>
        </table>

    {% set sessiontimes = [['8:00', '8:25', '8:50', '9:15', '9:40'],
                           ['10:25', '10:50', '11:15', '11:40', '12:05'],
                           ['4:30', '4:55', '5:20', '5:45', '6:10']] %}
    {% for day in ['Monday', 'Tuesday', 'Wednesday', 'Thursday'] %}
        <h1>{{ day }}</h1>
        <table class="table program-table">
          <tr>
            <th scope="row">
              7:30 - 8:30am
            </th>
            <td colspan="2" align="center" style="background-color: {{coffeecolor}};">
              Breakfast (Copper Conference Center)
            </td>
          </tr>

          {% for session in program_data[day] %}
            {% set sess_loop = loop %}
            {% set numparallel = session|length %}
            {% set parcolors = ['#D9EDF7', '#DFF0DB'] %}

            <tr>
              <td></td>
            {% for i in range(numparallel) %}
              <td colspan="{{numparallel % 2 + 1}}" align="center" style="background-color: {{parcolors[i]}};">
                <b>{{session[i].title}}</b>
              </td>
            {% endfor %}
            </tr>

            {% for talk in range(5) %}
              {% set talk_loop = loop %}
            <tr>
              <th scope="row">
                {{ sessiontimes[sess_loop.index0][talk_loop.index0] }}
              </th>
              {% for i in range(numparallel) %}
              <td colspan="{{numparallel % 2 + 1}}" style="background-color: {{parcolors[i]}};">
                {% set tid = session[i].talks[talk_loop.index0] %}
                {% if tid > 0 %}
                  {% for a in session[i].authors[talk_loop.index0] %}
                    {% if session[i].speaker[talk_loop.index0] == loop.index0 %}
                    <b> {{ a }} </b>
                    {% endif %}
                  {% endfor %}
                  <a class="pull-right" data-toggle="collapse" href="#collapse{{tid}}abs" aria-expanded="false" aria-controls="collapse{{tid}}abs">[abstract]</a>
                  <a class="pull-right" data-toggle="collapse" href="#collapse{{tid}}auth" aria-expanded="false" aria-controls="collapse{{tid}}auth">[authors]</a>
                <br/>
                <i>{{ session[i].titles[talk_loop.index0] }}</i>
                <br/>
                <div class="collapse" id="collapse{{tid}}auth">
                  <div class="card card-block">
                    {{ session[i].authors[talk_loop.index0]|join(', ') }}
                  </div>
                </div>
                <div class="collapse" id="collapse{{tid}}abs">
                  <div class="card card-block">
                    {{ session[i].abstract[talk_loop.index0] }}
                  </div>
                </div>
                {% else %}
                {% endif %}
              </td>
              {% endfor %}
            </tr>
            {% endfor %}

            {% if sess_loop.index0 == 0 %}
            <tr>
              <th scope="row">
                10:05-10:25am
              </th>
              <td colspan="2" align="center" style="background-color: {{coffeecolor}};">
                Coffee and Tea (provided)
              </td>
            </tr>
            {% endif %}

            {% if sess_loop.index0 == 1 and day != 'Thursday' %}
            <tr>
              <th scope="row">
                12:30-4:00pm
              </th>
              <td colspan="2" align="center">
                Lunch Break
              </td>
            </tr>
            <tr>
              <th scope="row">
                4:00-4:30pm
              </th>
              <td colspan="2" align="center" style="background-color: {{coffeecolor}};">
                Coffee, Tea, and Snacks (provided)
              </td>
            </tr>
            {% endif %}

            {% if sess_loop.index0 == 2 %}
              {% if day != 'Wednesday' %}
            <tr>
              <th scope="row">
                6:35pm
              </th>
              <td colspan="2" align="center">
                Dinner Break
              </td>
            </tr>
              {% else %}
            <tr>
              <th scope="row">
                6:00-9:00pm
              </th>
              <td colspan="2" align="center" style="background-color: {{banquetcolor}};">
                <b>Cash bar and Dinner Banquet at Copper Conference Center</b>
              </td>
            </tr>
              {% endif %}
            {% endif %}

            {% if sess_loop.index0 == 2 %}
              {% if day == 'Tuesday' %}
            <tr>
              <th scope="row">
                8:00-9:15pm
              </th>
              <td colspan="2" align="center" style="background-color: {{banquetcolor}};">
                <b>Jacob Schroder and Rob Falgout</b>
                <a class="pull-right" data-toggle="collapse" href="#collapsetutorialabs" aria-expanded="false" aria-controls="collapsetutorialabs">[abstract]</a>
                <br/>
                <i>XBraid Tutorial</i>
                <div class="collapse" id="collapsetutorialabs">
                  <div class="card card-block text-left">
<pre>
Expected duration 60-70 minutes.

XBraid is an open source, non-intrusive, and general purpose parallel-
in-time code developed at Lawrence Livermore National Lab.  The need
for parallelism in time is being driven by changes in computer
architectures, where future speedups will be available through greater
concurrency, but not faster clock speeds, which are stagnant.  This
leads to a bottleneck for sequential time marching schemes, because
they lack parallelism in the time dimension.  To address this
bottleneck, XBraid non-intrusively implements the multigrid reduction
in time (MGRIT) algorithm, which allows for the addition of temporal
parallelism to existing codes.

XBraid
- Is a scalable, multilevel parallel-in-time method based on multigrid
- Non-intrusively wraps existing sequential time integration codes
- Allows for a variety of time stepping schemes
- Supports a variety of space-time refinement approaches
- Uses FAS multigrid to solve nonlinear problems
- Is equivalent to parareal with certain two-level settings


The XBraid code
- Is written in MPI/C with C++ and F90 interfaces
- Is released under LGPL 2.1

The tutorial can simply be watched, or it can be interactive.  If you
want to run the examples, you'll need the following.
Requirements:
 - XBraid 2.1 (or higher)
   For code and user's manual, see http://llnl.gov/casc/xbraid
 - GCC compiler
Recommended:
 - MPI
 - Python 2.7 (or higher) with NumPy and Matplotlib
</pre>
                  </div>
                </div>
              </td>
            </tr>
              {% endif %}
            {% endif %}

            {% if sess_loop.index0 == 1 %}
              {% if day == 'Thursday' %}
            <tr>
              <th scope="row">
                12:05
              </th>
              <td colspan="2" align="center" style="background-color: {{banquetcolor}};">
                <b>End of Conference</b>
              </td>
            </tr>
              {% endif %}
            {% endif %}

          {% endfor %}

          <tr>
            <td style="width:10%"></td>
            <td style="width:45%"></td>
            <td style="width:45%"></td>
          </tr>
        </table>
    {% endfor %}
  </div>
{% endblock %}

{% block extrajs %}
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML">
</script>
{% endblock %}
