.DS_Store
.ipynb_checkpoints/
.*.swp
Monday-3-23.tex
Saturday-3-21.tex
Sunday-3-22.tex
Thursday-3-26.tex
Tuesday-3-24.tex
Wednesday-3-25.tex
latex.out/
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.html
